@page "/Curriculo"

<h1>Curriculo</h1>


<img src="MinhaFot.jpeg" alt="Minha imagem" style="width:200px; border-radius: 5%;"
<h2>Dados Pessoais</h2>
<p>Nome: Sara Gabriely Rocha</p>
<p>Email: Stuartgabguedes@email.com</p>

<p>Telefone: (69) 99914-9581</p>

<h2>Formação</h2>
<ul>
    <li>Tecnologia da Informação</li>
</ul>

<h2>Experiência</h2>
<ul>
    <li>Estágio IFRO - 2024 a 2025 </li>
</ul>

<h2>Habilidades</h2>
<ul>
    <li>Programação</li>
</ul>