@page "/curriculo"


<PageTitle>curriculo</PageTitle>
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="curriculo">

        <img src="WhatsApp Image 2025-07-01 at 16.44.48.jpeg" alt="Foto de Perfil" style="width:200px; border-radius: 5px;">
        <h1>Mayara kettelyn</h1>
        <h2>Informações Pessoais</h2>
        <p><strong>Estudante de Informática</strong></p>
        <p><strong>Email:</strong> mayarakettelyn367@email.com</p>
        <p><strong>Idade:</strong> 17 anos</p>
        <p><strong>Pais:</strong> Brasil</p>
        <p><strong>Cidade:</strong> Ji-Paraná - RO</p>
        <h3>Experiências</h3>
        <p><strong>Estágios:</strong> Daniel Informática LTDA</p>
        <p><strong>Estágios:</strong> BigTech LTDA</p>
    </div>

</body>
</html>

