@page "/curriculoThau"

<h3>Currículo</h3>


<!-- PESQUISA_currículo!!
<!-- PESQUISA_sobre (para aparecer as informações sobre mim)!!
<!-- Container com imagem e informações pessoais lado a lado -->
<div style="display: flex; align-items: flex-start; gap: 20px; margin-bottom: 20px;">
    <img src="foto.jfif" alt="Foto de Thauane" width="150" style="border-radius: 8px;" />

    <section>
        <h4>Informações Pessoais</h4>
        <p><strong>Nome:</strong> Thauane Pereira Rodrigues</p>
        <p><strong>Email:</strong> pereirathauane27@email.com</p>
        <p><strong>Telefone:</strong> (69) 9392-1934</p>
    </section>
</div>

<section>
    <h4>Formação Acadêmica</h4>
    <ul>
        <li>Técnico em Informática IFRO - Campus Ji-Paraná (2023 - 2025)</li>
    </ul>
</section>

<section>
    <h4>Experiência Profissional</h4>
    <ul>
        <li>Estágio na UNIJIPA - UNIÃO DAS ESCOLAS SUPERIORES DE JI-PARANÁ LTDA - Pessoa Externa</li>
    </ul>
</section>

<section>
    <h4>Idiomas</h4>
    <ul>
        <li>Português – Nativo</li>
        <li>Espanhol – Intermediário</li>
    </ul>
</section>

<section>
    <h4>Cursos (Com certificados)</h4>
    <ul>
        <li>Robótica Educacional com LEGO (2022) – IFRO Campus Ji-Paraná – 64 horas</li>
        <li>Auxiliar de Departamento Pessoal (2020) – INFOWARE – 20 horas</li>
        <li>Informática Completa (2019-2020) – INFOWARE – 320 horas: Digitação, Word, Excel, PowerPoint, CorelDRAW, Photoshop CS3, HTML, etc.</li>
    </ul>
</section>